* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2%;
    width: 90%;
    float: left;
}

#cabecera {
    background-color: #eee;
    padding: 2%;
    margin: 10px;
    text-align: center;
}

.columna1, .columna2, .columna3 {
    background-color: #eee;
    width: 30%;
    margin: 1%;
    text-align: center;
    float: left;


}

#pie {
    background-color: #eee;
    padding: 2%;
    clear: both;
    width: 282px;
    float: left;
    margin: 2px;
    text-align: center;
  }

li {
    display: inline;
    padding: 1px;
}