body {
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
    background-attachment: fixed;
    text-align: center;
}

a {
    text-decoration: none;
    border: solid;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 1.5px 1.5px 1.5px black;
}